@model ParentsBank.Models.WishlistItem

@{
    ViewBag.Title = "View Wishlist Item";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink(Model.Account.Name + "'s Wishlist", "AccountWishlist", "WishlistItems", new { id = Model.Account.Id }, new { })</li>
    <li class="active">Details</li>
</ol>
<h2>View Wishlist Item</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.Recipient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Recipient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purchased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchased)
        </dd>

        @if (Model.CalculateDifference() >= 0)
        {
            <dt>
                @Html.DisplayName("Remaining Balance If Purchased")
            </dt>
        }
        else
        {
            <dt>
                @Html.DisplayName("Additional Balance Required")
            </dt>
        }
        <dd>
            @Math.Abs(Model.CalculateDifference())
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
