@model ParentsBank.Models.AccountDetails

@{
    ViewBag.Title = "Details";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    @if (ViewBag.Role == "Owner")
    {
        <li>@Html.ActionLink("Accounts", "Index", "AccountDetails")</li>
    }
    <li class="active">@Model.Name's Account</li>
</ol>
<h2>Details</h2>

<div>
    <h4>Account Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>
        
        <dt>
            @Html.DisplayName("Interest Calculated")
        </dt>

        <dd>
            @Model.CalculateInterestEarnedInCurrentYear()
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("View Transactions", "AccountTransactions", "Transactions", new { id = Model.Id }, new { }) |
    @Html.ActionLink("View Wishlist", "AccountWishlist", "WishlistItems", new { id = Model.Id }, new { })
    @if (ViewBag.Role == "Owner")
    {
        <span>|</span> @Html.ActionLink("Back to List", "Index")
    }

</p>
